<footer class="text-center">
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="fb-like" data-href="https://iphone6s-check-mfg.herokuapp.com/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
          <div class="col-md-12" style="padding: 10px;">
            Copyright © <a href="https://github.com/niclin">NicLin</a> 2016
          </div>
        </div>
      </div>
    </div>
  </footer>
